*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #555555;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 35px;
  line-height: 60px;
  margin: 25px 0;
}

.btn{
  display: inline-block;
  background: #28747a;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 10px;
}

.btn:hover{
  background: #0f585e;
}

.header{
  background: radial-gradient(#ffffff, #0d666e)
}

.header .row{
  margin-top: 70px;
}

.categories{
  margin: 50px 0;
}

.col-3{
  margin-bottom: 10px;
}

.small-container{
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.approx{
  font-size: 11px;
  opacity: 0.7;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  line-height: 60px;
  position: relative;
  color: #555555;
}

.title::after{
  content: '';
  background: #0d666e;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.rating .fa{
  color: #0d666e;
}

.col-4:hover{
  transform: translateY(-7px);
}

.offer{
  background: radial-gradient(#ffffff, #0d666e);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img{
  padding: 50px;
}

.offer-details{
  color: #555555;
}

.brands{
  margin: 50px auto;
}
.col-3{
  width: 150px;
}

.col-3 img{
  cursor: pointer;
  filter: grayscale(100%);
}

.col-3 img:hover{
  filter: grayscale(0);
}

.footer{
  background: black;
  color: #8a8a8a;
  font-size: 14px;
  padding: 50px;
}
.footer h3{
  color: whitesmoke;
}

.footer-col-1, .footer-col-2{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex: 1;
  text-align: center;
}

.footer-col-1 img{
  width: 175px;
  margin-bottom: 20px;
  height: 130px;
}

.footer-col-2{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style: none;
}

hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0px;
}

.copyright{
  text-align: center;
}

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333333;
    opacity: 0.8;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.6s;
  }

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
  }

  nav ul li a{
    color: whitesmoke;
  }

  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}

select{
  border: 1px solid #0d666e;
  padding: 5px;
}

select:focus{
  outline: none;
}

.page-btn{
  margin: 0 auto 80px;
}

.page-btn span{
  display: inline-block;
  border: 1px solid #0d666e;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover{
  background: #0f585e;
  color: whitesmoke;
}

.single-product{
  margin-top: 80px;
}

.single-product .col-2 img{
  padding: 0;
}

.single-product .col-2{
  padding: 20px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #0d666e;
}

input:focus{
  outline: none;
}

.single-product .fa{
  color: #0d666e;
  margin-left: 9px;
}

.small-img-row{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.cart-page{
  margin: 80px auto;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

th{
  text-align: left;
  padding: 5px;
  color: whitesmoke;
  background: #0d666e;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}

td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #0f585e;
  font-size: 12px;
}

td img{
  width: 90px;
  height: 90px;
  margin-right: 12px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
}

.account-page{
  padding: 50px 0;
  background: radial-gradient(#ffffff, #0d666e);
}

.form-container{
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    margin:auto;
    padding: 20px 0;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    border-radius: 9px;
    overflow: hidden;
  }

  .form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }

  .form-btn{
    display: inline-block;
  }

  .form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }

  form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #cccccc;
  }

  form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }

  form .btn:focus{
    outline: none;
  }

  #LoginForm{
    left: -300px;
  }

  #RegForm{
    left:0px;
  }

  form a{
    font-size: 12px;
  }

  #Indicator{
    width: 100px;
    border: none;
    background: #0f585e;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
  }

@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .c0l-3, .col-4{
    flex-basis: 100%;
  }

  .single-product .row{
    text-align: left;
  }

  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 32px;
  }

  .cart-info p{
    display: none;
  }
}
